---
export interface IPagination {
	currentPage: number;
	totalPages: number;
}

const { currentPage, totalPages } = Astro.props as IPagination;
---

<div class='btn-group justify-center'>
	{Array.from({ length: totalPages }, (_, i) => i + 1).map((elem) => (
		<a
			href={`${elem === 1 ? '/' : '/' + elem}`}
			class={`btn ${elem === currentPage ? 'btn-active' : ''}`}
		>
			{elem}
		</a>
	))}
</div>
