:root {
  --ion-padding: 16px;
  --ion-padding-half: calc(var(--ion-padding) / 2);
  --ion-margin: 16px;
  --ion-margin-half: calc(var(--ion-margin) / 2);
  --ion-background-color: #f3f4f7;
  --ion-background-color-rgb: 243, 244, 247;
  --ion-max-width: 768px;
  /* --colors: #ffab24;
  --colors2: #558374;
  --colors3: #fcebb7; */
}

ion-icon.xs {
  font-size: 12px;
}
