---
import BaseLayout from '@layouts/BaseLayout.astro';
import BaseHeader from '@layouts/BaseHeader.astro';

const title = 'Käsediebe Foodblog - Favoriten';
const description =
	'Käsediebe ist ein Foodblog in dem Christoph und Pauline ihre Rezepte vorstellen.';
const permalink = 'https://www.kaesediebe.netlify.app/favoriten';
---

<BaseLayout title={title} description={description} permalink={permalink}>
	<BaseHeader arrowBack={true} />
	<main class='grid gap-6 max-w-xl mx-auto mb-24 p-4'>
		<p class='text-4xl'>Sorry, die Seite befindet sich noch im Aufbau 😊</p>
	</main>
</BaseLayout>
