---
import BaseLayout from '@layouts/BaseLayout.astro';
import BaseFooter from '@layouts/BaseFooter.astro';
import Card from '@components/Card.astro';
import { client } from '@lib/contentfulClient';
// @ts-ignore
import type { IRecipeFields } from '@types/generated/contentful.d.ts';

const data = await client
	.getEntries<IRecipeFields>({
		content_type: 'recipe',
	})
	.then((entries) => entries.items)
	.catch(() => []);

const title = 'Käsediebe Foodblog';
const description =
	'Käsediebe ist ein Foodblog in dem Christoph und Pauline ihre Rezepte vorstellen';
const permalink = 'https://www.kaesediebe.netlify.app';
---

<BaseLayout title={title} description={description} permalink={permalink}>
	<header>
		<img class='w-48 p-4 mx-auto' src='/assets/icon/icon_transparent.png' />
	</header>
	<main class='grid gap-6 my-8 px-2'>
		{data.map((entry) => {
			return <Card data={entry.fields} />
		})}
	</main>
	<BaseFooter />
</BaseLayout>
