---
import BaseLayout from '../layouts/baseLayout.astro'

const title = 'Käsediebe Foodblog';
const description = 'Käsediebe ist ein Foodblog in dem Christoph und Pauline ihre Rezepte vorstellen';
const permalink = 'https://www.kaesediebe.netlify.app';
---

<BaseLayout title={title} description={description} permalink={permalink}>
	<h1>Astro</h1>
</BaseLayout>