---
import BaseLayout from '@layouts/BaseLayout.astro';
import BaseHeader from '@layouts/BaseHeader.astro';
import { SITE } from 'src/config';
import Search from '@components/react/Search';

const title = ' - Suche';
const permalink = `${SITE.url}/search`;

const env = {
	appId: import.meta.env.PUBLIC_ALGOLIA_APP_ID,
	apiKey: import.meta.env.PUBLIC_ALGOLIA_SEARCH_API_KEY,
	index: import.meta.env.PUBLIC_ALGOLIA_INDEX,
};
---

<BaseLayout title={title} permalink={permalink}>
	<BaseHeader arrowBack />
	<main class='grid gap-6 max-w-md mx-auto mb-16 p-4 pt-8'>
		<div class='flex gap-2 items-center'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				class='h-6 w-6'
				fill='none'
				viewBox='0 0 24 24'
				stroke-width='2'
				stroke='currentColor'
			>
				<path
					stroke-linecap='round'
					stroke-linejoin='round'
					d='M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z'
				></path>
			</svg>
			<h2 class='text-4xl font-bold'>Suche</h2>
		</div>
		<Search client:only="react" env={env} />
	</main>
</BaseLayout>
