---
import BaseLayout from '@layouts/BaseLayout.astro';
import BaseHeader from '@layouts/BaseHeader.astro';
import FavoriteList from '@components/FavoriteList';

const title = 'Käsediebe Foodblog - Suche';
const description =
	'Käsediebe ist ein Foodblog in dem Christoph und Pauline ihre Rezepte vorstellen.';
const permalink = 'https://www.kaesediebe.netlify.app/search';
---

<BaseLayout title={title} description={description} permalink={permalink}>
	<BaseHeader close />
	<main class='grid gap-6 max-w-md mx-auto mb-24 p-4 pt-8'>
		<div class='flex gap-2 items-center'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				class='h-6 w-6'
				fill='none'
				viewBox='0 0 24 24'
				stroke-width='1.5'
				stroke='currentColor'
				class='w-6 h-6'
			>
				<path
					stroke-linecap='round'
					stroke-linejoin='round'
					d='M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z'
				></path>
			</svg>
			<h2 class='text-4xl font-bold'>Suche</h2>
		</div>
		<h2>Something is Cooking ... :)</h2>
	</main>
</BaseLayout>
