---
import BaseFooter from '@layouts/BaseFooter.astro';
---
<input type="checkbox" id="menu" class="modal-toggle" />
<div class="modal">
  <div class="modal-box relative">
    <label for="menu" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
    <h3 class="text-lg font-bold">Kategorien</h3>
    <p class="py-4">You've been selected for a chance to get one year of subscription to use Wikipedia for free!</p>
		<BaseFooter />
  </div>
</div>

