---
import BaseFooter from '@layouts/BaseFooter.astro';
import Background from '@components/Background.astro';
---

<script>
	document.querySelector('#menu')?.addEventListener('change', () => {
		document.querySelector('body').classList.toggle('overflow-hidden');
	});
</script>

<input autocomplete='off' type='checkbox' id='menu' class='modal-toggle' />
<div class='modal bg-white'>
	<Background />
	<div
		class='w-full min-h-screen p-4 relative flex flex-col justify-center items-center'
		style='min-height: -webkit-fill-available;'
	>
		<label for='menu' class='btn btn-sm btn-circle absolute right-4 top-4'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				class='h-6 w-6'
				fill='none'
				viewBox='0 0 24 24'
				stroke='currentColor'
				stroke-width='2'
			>
				<path
					stroke-linecap='round'
					stroke-linejoin='round'
					d='M6 18L18 6M6 6l12 12'></path>
			</svg>
		</label>
		<div class='w-10/12'>
			<ul>
				<li class='pt-0 hover:underline'>
					<a href='/' class='flex gap-2 items-center'>
						<svg
							xmlns='http://www.w3.org/2000/svg'
							class='h-6 w-6'
							fill='none'
							viewBox='0 0 24 24'
							stroke='currentColor'
							stroke-width='2'
						>
							<path
								stroke-linecap='round'
								stroke-linejoin='round'
								d='M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z'
							></path>
						</svg>
						<h2 class='text-4xl font-bold'>Rezepte</h2>
					</a>
				</li>
				<li class='pt-6'>
					<div class='flex gap-2 items-center'>
						<svg
							xmlns='http://www.w3.org/2000/svg'
							class='h-6 w-6'
							fill='none'
							viewBox='0 0 24 24'
							stroke='currentColor'
							stroke-width='2'
						>
							<path
								stroke-linecap='round'
								stroke-linejoin='round'
								d='M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253'
							></path>
						</svg>
						<h2 class='text-4xl font-bold'>Kategorien</h2>
					</div>
					<ul class='pl-8'>
						<li class='pt-6 hover:underline'>
							<a class='text-2xl' href='category/kartoffeln'>Kartoffeln</a>
						</li>
						<li class='pt-6 hover:underline'>
							<a class='text-2xl' href='category/nudeln'>Nudeln</a>
						</li>
						<li class='pt-6 hover:underline'>
							<a class='text-2xl' href='category/reis'>Reis</a>
						</li>
						<li class='pt-6 hover:underline'>
							<a class='text-2xl' href='category/sonstiges'>Sonstiges</a>
						</li>
					</ul>
				</li>
				<li class='pt-6 hover:underline'>
					<a href='/favorites' class='flex gap-2 items-center'>
						<svg
							xmlns='http://www.w3.org/2000/svg'
							class='h-6 w-6'
							fill='none'
							viewBox='0 0 24 24'
							stroke='currentColor'
							stroke-width='2'
						>
							<path
								stroke-linecap='round'
								stroke-linejoin='round'
								d='M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z'
							></path>
						</svg>
						<h2 class='text-4xl font-bold'>Favoriten</h2>
					</a>
				</li>
			</ul>
		</div>
		<div class='absolute bottom-0 left-0 right-0'>
			<BaseFooter />
		</div>
	</div>
</div>
