---
export interface INavbar {
	arrowBack: boolean;
}

const { arrowBack } = Astro.props as INavbar;
---

<div
	class='navbar mx-auto fixed bottom-0 bg-base-100 z-20 px-4 shadow-2xl'
	style='padding-bottom: calc(8px + env(safe-area-inset-bottom));'
>
	<div class='flex-none w-12'>
		{arrowBack && (
			<a class="flex" href="javascript:history.back()">
				<button aria-label="zurück" class="btn btn-square btn-ghost">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="h-6 w-6"
						fill="none"
						viewBox="0 0 24 24"
						stroke="currentColor"
						stroke-width="2"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M15 19l-7-7 7-7"
						/>
					</svg>
				</button>
			</a>
		)}
	</div>
	<div class='flex-1 justify-center'>
		<a href='#'>
			<img
				class='mx-auto h-12'
				src='/assets/logo.png'
				alt='logo'
				width='87'
				height='48'
			/>
		</a>
	</div>
	<div class='flex-none'>
		<label for='menu' class='btn btn-square btn-ghost btn-modal'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				class='h-6 w-6'
				fill='none'
				viewBox='0 0 24 24'
				stroke='currentColor'
				stroke-width='2'
			>
				<path
					stroke-linecap='round'
					stroke-linejoin='round'
					d='M4 6h16M4 12h16M4 18h16'></path>
			</svg>
		</label>
	</div>
</div>
